@media all and (max-width:450px) {
    .toolbar-big .navigation-bar__center {
        font-size: 22px;
    }

    .agregar-section .col-time img {
        max-width:51px;
        min-width:51px;
    }
}

@media all and (max-width:375px) {
    .btn-agregar {
        font-size: 19px;
    }

    .share img {
        min-width:50px;
        max-width:50px;
    }

    .text-bottom {
        font-size: 14px;
    }

    .btn-agregar {
        font-size: 16px;
    }

    .col-text {
        font-size: 14px;
    }

    .delete-shopping {
        font-size: 14px;
        line-height: 25px;
    }

    .agregar-section .col-time img {
        max-width: 46px;
        min-width: 46px;
    }
}

@media all and (max-width:320px) {
    .tab-bar__label {
        font-size: 10.7px !important;
    }

    .tab-bar__icon .img {
        width: 40px;
        height: 40px;
    }

    .tab-bar__icon + .tab-bar__label {
        font-size: 11.7px;
        margin-top: 0px !important;
    }

    .select-inline .select span, input {
        font-size: 11px;
    }

    .form2 .form-control .value, .form2 .form-element input {
        width: 82px;
    }

    .btn-agregar {
        color: #fff;
        background-size: 32px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 12px;
        text-align: right;
    }

    h2 {
        font-size: 22px;
    }

    .share img {
        max-width:50px;
    }

    .share {
        padding-left: 0px;
    }

    .share:first-child {
        padding-left: 0px;
    }

    .text-bottom {
        font-size: 11px;
    }

    .btn-yellow2 {
        height: 46px;
    }

    .recipe-section .item:first-child {
        min-width: 40px;
    }

    .menu-detail h3 {
        font-size: 14px;
    }

    .col-time {
        max-width: 15% !important;
    }

    .fino-button-container2 {
        position:relative;
    }

    .internal-tab .page__content {
        padding-top: 51px;
    }

    .intro-section .intro-section-content3 {
        margin-top: 0px;
    }

    .header-title {
        font-size: 15px;
    }

    .agregar-section .col-time img {
        max-width:36px;
        min-width:36px;
    }
}


@media screen and (min-width:0px) {
    .search-btn {
        top: 28px;
    }
}
